.booking-screen{
    flex-grow: 1;
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto;
    background-color: #EDEFEE;
    padding: 20px;
}

.page-title {
    grid-row: 1;
    color: #333333;
    font-family: "Markazi Text", serif;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.booking-form {
    grid-row: 2;
    margin: 0;
    padding: 30px 0 30px 0;
    display: grid;
    width: 100%;
    max-width: 100%;
    color: #333333;
    font-family: "Karla", sans-serif;
}

.form-title {
    font-weight: 800;
}

.fieldset {
    display: grid;
    font-weight: 600;
}

.form-field {
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    border-color: #495E57;
}

.form-field-error {
    color: red;
}

.form-field-button-valid {
    background-color: #495E57;
    color: #EDEFEE;
}

.form-field-button-invalid {
    background-color: #EDEFEE;
}

.mandatory {
    color: red;
}

@media only screen and (max-width: 499px) {

    .page-title {
        grid-column: 1 / span 12;
    }

    .booking-form {
        grid-column: 1 / span 12;
        gap: 10px;
    }

    .fieldset {
        gap: 0;
    }

    .form-field {
        height: 50px;
        padding: 0 15px 0 15px;
    }

    .page-title {
        font-size: 2.6rem;
    }

    .form-title, .fieldset, .form-field {
        font-size: 1rem;
    }

}

@media only screen and (min-width: 500px){

    .page-title {
        grid-column: 2 / span 10;
    }

    .booking-form {
        grid-column: 2 / span 10;
        gap: 10px;
    }

    .fieldset {
        gap: 0;
    }

    .form-field {
        height: 50px;
        padding: 0 15px 0 15px;
    }

    .page-title {
        font-size: 2.8rem;
    }

    .form-title, .fieldset, .form-field {
        font-size: 1rem;
    }

}

@media only screen and (min-width: 700px){

    .page-title {
        grid-column: 2 / span 10;
    }

    .booking-form {
        grid-column: 4 / span 6;
        gap: 15px;
    }

    .fieldset {
        gap: 5px;
    }

    .form-field {
        height: 60px;
        padding: 5px 15px 5px 15px;
    }

    .page-title {
        font-size: 3rem;
    }

    .form-title, .fieldset, .form-field {
        font-size: 1.2rem;
    }

}

@media only screen and (min-width: 1100px){

    .page-title {
        grid-column: 2 / span 10;
    }

    .booking-form {
        grid-column: 5 / span 4;
    }

    .page-title {
        font-size: 3.2rem;
    }

    .form-title, .fieldset, .form-field {
        font-size: 1.2rem;
    }

}

@media only screen and (min-width: 1440px){

    .page-title {
        grid-column: 3 / span 8;
    }

    .booking-form {
        grid-column: 5 / span 4;
    }

}