.header-body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: 100vw;
    max-width: 1440px;
    background-color: #EDEFEE;
    height: 60px;
}

.short-logo {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 40px;
}

.short-logo img {
    object-fit: contain;
}

.default-logo {
    height: 100%;
    display: grid;
    place-items: center;
}

.navigation-bar {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 699px){

    .header-body {
        height: 40px;
    }

    .default-logo {
        display: none;
    }

    .navigation-bar {
        grid-column: 3 / span 10;
    }

    .navigation-bar a {
        padding: 10px 5px 10px 5px;        
        font-size: 0.6rem;
    }
}

@media only screen and (min-width: 700px){
    /* For tablets */

    .short-logo {
        display: none;
    }

    .default-logo {
        grid-column: 1 / span 2;
    }

    .navigation-bar {
        grid-column: 3 / span 10;
    }

    .navigation-bar a {
        padding: 10px 15px 10px 15px;
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1100px){
    /* For tablets */

    .short-logo {
        display: none;
    }

    .default-logo {
        grid-column: 2 / span 2;
    }

    .navigation-bar {
        grid-column: 4 / span 8;
    }

    .navigation-bar a {
        padding: 10px 15px 10px 15px;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1440px){
    /* For desktop */

    .short-logo {
        display: none;
    }

    .default-logo {
        grid-column: 3 / span 2;
    }

    .navigation-bar {
        grid-column: 5 / span 6;
    }

    .navigation-bar a {
        padding: 10px 15px 10px 15px;
        font-size: 1rem;
    }
}

.navigation-bar ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding-inline-start: 0;
}

.navigation-bar a {
    text-decoration: none;
    color: #333333;
    font-family: "Karla", sans-serif;
    font-weight: 800;
}

.navigation-bar a:hover {
    background-color: #495E57;
    color: #EDEFEE;
}
