header {
    width: 1440px;
    height: 80px;
}

.header-container {
    display: flex;
    height: 100%;
    padding-left: 280px;
    padding-right: 280px;
}

.logo-container {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-menu {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation-menu ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    padding-inline-start: 0;
}

.navigation-menu li {
    display: box;
}